<h3>indexこれまでの質問</h3>
<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
    
      <%= t.body %>
    </div>
    <%= link_to "編集する", edit_tweet_path(t.id) %>
    <%= button_to "削除する", tweet_path(t.id), method: :delete %>
  <% end %>
</div>